@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
@font-face 
{font-family: ´Poppins´;
src:url("../fonts/Poppins-Regular.ttf");
src:url("../fonts/Poppins-SemiBold.ttf");
src:url("../fonts/Poppins-Bold.ttf");
}

body{
	font-family: Poppins;
	font-size: 12px;
	font-weight: 300;
	color:#777;
	padding-top: 10px;
}

#slides{
	display: 50%;
	
}

#slides h2{
	text-transform: uppercase;
	font-family: Poppins;
	font-weight: 600;
	font-size: 35px;
}

#slides h4{
	text-transform: uppercase;
	color: #EBB576;
	font-weight: 600;
	font-family: Poppins;
}

#slide p{
	text-align: center;
	font-family: Poppins;
}

.carousel-caption{
	margin-bottom: 25%;
}

.fas{
	background-color: #EBB576;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color:#ffffff;
	z-index: 20px;
	padding-top: 5%;
}

#about{
	text-align: center;
	background-color: #F2F2F2;
	padding: 5% 0;
	
}

#about h4{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color:#555;
	padding-top: 5px;
	font-family: Poppins;
}

#about p{
	
	font-size: 12px;
	font-weight: 300;
	color:#777;
	padding-top: 10px;
}

.titulo{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color:#555;
	border-bottom: solid 1px #EBB576;
	text-align: center;
	font-family: Poppins;
}
#products{
	padding: 5% 0;
}
#products img{
	border-radius: 100%;
}

#products h6{
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Poppins;
}

#products h4{
	font-size: 14px;
	font-weight: 600;
	color:#555;
	padding-top: 5px;
}

#products p{
	
	font-size: 12px;
	font-weight: 300;
	color:#777;
	padding-top: 10px;
}

.precio{
	color: #EBB576!important;
}

.btn-light{
	border: solid 2px #777;
	text-transform: uppercase;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: 600;
	color: #777;
	text-align: center;
	margin-left: 45%;
	background-color: #ffffff;
}

#counter{
	padding: 15px 0px;
	background-color: #EBB576;
}

#counter h2{
	text-align: center;
	font-weight:600;
	color: #fff;
}

#counter h6{
	text-align: center;
	font-size: 14px;
	color: #fff;
}

#chef img{
	border-radius: 100%;
}

#chef h4{
	font-size: 14px;
	font-weight: 600;
	color:#555;
	padding-top: 5px;
}

#chef{
	text-align: center;
	padding: 10% 0;
	background-color:  #F2F2F2;
}


